<header class="header" id="header">
  <div class="header-left">
    <h2 id="page-title">Dashboard</h2>
    <div class="search-box">
      <span class="material-symbols-outlined">search</span>
      <input type="text" placeholder="Search data..." id="header-search" />
    </div>
  </div>
  <div class="header-right">
    <button class="btn-outline" id="export-btn">
      <span class="material-symbols-outlined" style="font-size:18px">download</span>
      Export
    </button>
    <button class="icon-btn">
      <span class="material-symbols-outlined">notifications</span>
      <span class="notif-dot"></span>
    </button>
    <div class="avatar">
      <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuCOY7mGhOgioOloUTeiXLi-Jwdgwegbf3SMrpx68JwvNzL1c3WApwMP_oirWh4Jg2IAA6W8CfuJc-Mg0exEscS4ILtCG0_YrQuX7ISbmOj1fp4Hx2M5Hltc0e2ZeQbSr2ep2YOE3dhTAZefhfAMhcbhVjFr-cCX0VfeJN6khrr_C1x8-jyU2LH_LQg7Oil_CHl0CN_ItaSHo0sNtcM71KuKTx4WNyPPi454i4m1UekGMNN7qNTC_avLI0W_SaapOfLmWEEis5iXAkg" alt="User avatar" />
    </div>
  </div>
</header>
